
@{
    ViewData["Title"] = "Pulpit";
}

<div class="card card-primary card-border-top">

    <div class="card-body">

        Loren ...<br />
        i tak dalej <br />
        i jeszcze <br />

    </div>

</div>
