@{
    ViewData["Title"] = "New Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to INDEX2</h1>
    <p>Bla Bla Bla</p>
    <%: datatest %>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
